<div class="container mx-auto py-8 gap-4 min-h-0 flex-grow flex justify-center">
  <div class="flex flex-col items-center min-h-0 justify-stretch py-32">
    <div class="prose prose-invert">
      <ul>
        {{#each this.formats as |format|}}
          <li>
            <LinkTo
              @route="format"
              @model={{format.slug}}
            >{{format.name}}</LinkTo>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>