<div>
  <div class="text-lg font-medium {{this.titleTextColorClasses}}">
    {{@segment.titleForDisplay}}
  </div>

  {{#if @segment.explanationMarkdown}}
    <div class="prose prose-invert prose-sm mt-2">
      {{markdown-to-html @segment.explanationMarkdown}}
    </div>
  {{/if}}
</div>