<div class="border-b border-zinc-700">
  <div class="container mx-auto py-2 px-2 md:px-4">
    <a href="/" class="text-lg font-bold text-gray-900 dark:text-white">
      BinSpec Visualizer
    </a>
  </div>
</div>