<div class="border-b border-gray-200 dark:border-gray-700/60">
  <div class="container mx-auto py-2">
    <h1 class="text-lg font-bold text-gray-900 dark:text-white">BinSpec
      Visualizer</h1>
  </div>
</div>

{{! <div class="container mx-auto py-16">
  <div class="grid grid-cols-2 gap-4">
    <div>
      <h2
        class="mb-2 text-xl font-medium text-gray-900 dark:text-white"
      >Structure</h2>
      <div
        class="h-[500px] w-full rounded-md border border-gray-200 dark:border-gray-700/60 dark:bg-gray-900"
      ></div>
    </div>
    <div>
      <h2
        class="mb-2 text-xl font-medium text-gray-900 dark:text-white"
      >Raw</h2>
      <div
        class="h-[500px] w-full rounded-md border border-gray-200 dark:border-gray-700/60 dark:bg-gray-900"
      >
        <Hexdump data="{sampleData}" />
      </div>
    </div>
  </div>
</div> }}