<div class="border-b border-zinc-700">
  <div class="container mx-auto py-2 px-2 md:px-4">
    <div class="flex items-center justify-between">
      <a href="/" class="text-lg font-bold text-zinc-200 hover:text-white">
        <svg
          width="106.5"
          height="30.5"
          viewBox="0 0 425 122"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 13H25.1897V39.9016C27.1682 33.966 33.5506 30.9982 44.3367 30.9982C48.7406 30.9982 52.2508 31.4131 54.8676 32.2428C57.5482 33.0725 59.7182 34.6681 61.3776 37.0295C63.1008 39.3272 64.2497 42.3269 64.8241 46.0287C65.4623 49.7304 65.7814 54.6767 65.7814 60.8676C65.7814 67.0585 65.4623 72.0048 64.8241 75.7066C64.1858 79.4083 62.9732 82.4399 61.1861 84.8014C59.4629 87.0991 57.2291 88.6627 54.4847 89.4924C51.7403 90.3221 48.0385 90.737 43.3794 90.737C37.7629 90.737 33.4548 89.6839 30.4551 87.5777C27.4554 85.4716 25.5407 82.1527 24.711 77.6213V89.5882H7V13ZM25.1897 69.2923C25.1897 73.377 28.7 75.4194 35.7206 75.4194C40.635 75.4194 43.6666 74.6535 44.8154 73.1217C46.0281 71.5261 46.6344 67.4414 46.6344 60.8676C46.6344 54.2938 46.0919 50.241 45.0069 48.7092C43.9857 47.1137 41.2413 46.3159 36.7737 46.3159C32.689 46.3159 29.7212 47.1775 27.8703 48.9007C26.0832 50.6239 25.1897 53.4003 25.1897 57.2297V69.2923Z"
            fill="white"
          />
          <path
            d="M73.9511 32.147H92.1408V89.5882H73.9511V32.147ZM73.4724 26.4029V13H92.6195V26.4029H73.4724Z"
            fill="white"
          />
          <path
            d="M102.174 32.147H120.364V41.1462C121.257 37.6359 123.108 35.0829 125.917 33.4873C128.725 31.8279 132.65 30.9982 137.692 30.9982C145.223 30.9982 150.233 32.4342 152.722 35.3063C155.275 38.1784 156.552 43.8906 156.552 52.4429L156.648 89.5882H138.458V57.0382C138.458 52.1876 138.011 49.1879 137.118 48.0391C136.288 46.8903 134.054 46.3159 130.416 46.3159C126.906 46.3159 124.353 47.1775 122.757 48.9007C121.226 50.5601 120.46 53.2726 120.46 57.0382L120.364 89.5882H102.174V32.147Z"
            fill="white"
          />
          <path
            d="M181.556 71.59C181.556 74.2067 182.13 75.8342 183.279 76.4725C184.492 77.0469 187.523 77.3341 192.374 77.3341C197.033 77.3341 199.905 77.1107 200.99 76.6639C202.139 76.1533 202.713 74.9088 202.713 72.9303C202.713 71.4623 201.788 70.3454 199.937 69.5795C198.15 68.7498 194.544 67.8244 189.119 66.8032C179.354 64.8885 172.844 62.7185 169.589 60.2932C166.334 57.8041 164.707 53.8151 164.707 48.3263C164.707 41.3695 166.589 36.7423 170.355 34.4447C174.121 32.147 181.62 30.9982 192.853 30.9982C203.83 30.9982 211.17 32.3066 214.872 34.9234C218.574 37.4763 220.424 42.646 220.424 50.4325V52.1557H202.235V50.4325C202.235 47.6881 201.724 45.9967 200.703 45.3585C199.682 44.7203 197.065 44.4012 192.853 44.4012C188.768 44.4012 186.247 44.6564 185.29 45.167C184.332 45.6138 183.854 46.8584 183.854 48.9007C183.854 50.241 184.364 51.1984 185.385 51.7728C186.47 52.3472 188.608 52.8897 191.8 53.4003C203.798 55.3788 211.808 57.7722 215.829 60.5804C219.85 63.3248 221.861 67.8882 221.861 74.2705C221.861 78.802 221.031 82.2166 219.371 84.5142C217.712 86.8119 214.872 88.4394 210.851 89.3967C206.83 90.2902 200.831 90.737 192.853 90.737C181.045 90.737 173.163 89.4605 169.206 86.9076C165.313 84.3547 163.366 79.2488 163.366 71.59V70.3454H181.556V71.59Z"
            fill="white"
          />
          <path
            d="M229.51 108.735V32.147H247.221V42.9651C248.05 38.8166 249.965 35.785 252.965 33.8703C255.964 31.9556 260.273 30.9982 265.889 30.9982C270.548 30.9982 274.25 31.4131 276.994 32.2428C279.739 33.0725 281.973 34.6681 283.696 37.0295C285.483 39.3272 286.695 42.3269 287.334 46.0287C287.972 49.7304 288.291 54.6767 288.291 60.8676C288.291 67.0585 287.972 72.0048 287.334 75.7066C286.759 79.4083 285.61 82.4399 283.887 84.8014C282.228 87.0991 280.058 88.6627 277.377 89.4924C274.76 90.3221 271.25 90.737 266.846 90.737C261.166 90.737 256.762 89.8435 253.635 88.0564C250.571 86.2055 248.593 83.3016 247.699 79.3445V108.735H229.51ZM247.699 69.1966C247.699 73.3451 251.21 75.4194 258.23 75.4194C263.145 75.4194 266.176 74.6535 267.325 73.1217C268.538 71.5261 269.144 67.4414 269.144 60.8676C269.144 57.2935 269.048 54.6767 268.857 53.0173C268.729 51.2941 268.282 49.89 267.516 48.805C266.751 47.6561 265.761 46.9541 264.549 46.6988C263.4 46.4435 261.613 46.3159 259.188 46.3159C255.167 46.3159 252.231 47.2094 250.38 48.9964C248.593 50.7197 247.699 53.496 247.699 57.3254V69.1966Z"
            fill="white"
          />
          <path
            d="M351.987 71.3028C351.796 79.0892 349.785 84.2908 345.956 86.9076C342.126 89.4605 334.563 90.737 323.267 90.737C317.203 90.737 312.353 90.3221 308.715 89.4924C305.141 88.6627 302.205 87.0991 299.907 84.8014C297.673 82.4399 296.142 79.4083 295.312 75.7066C294.482 72.0048 294.067 67.0585 294.067 60.8676C294.067 54.6767 294.482 49.7304 295.312 46.0287C296.142 42.3269 297.673 39.3272 299.907 37.0295C302.205 34.6681 305.141 33.0725 308.715 32.2428C312.353 31.4131 317.203 30.9982 323.267 30.9982C329.138 30.9982 333.829 31.3812 337.34 32.147C340.914 32.8491 343.85 34.2213 346.147 36.2637C348.445 38.306 350.041 40.9547 350.934 44.2097C351.828 47.4647 352.338 51.7728 352.466 57.1339V66.0373H313.31C313.502 70.9517 314.204 74.0791 315.416 75.4194C316.693 76.6958 319.341 77.3341 323.362 77.3341C327.128 77.3341 329.649 76.9511 330.925 76.1853C332.202 75.3555 332.84 73.728 332.84 71.3028H351.987ZM313.406 52.6344H333.319C333.255 48.9964 332.649 46.7307 331.5 45.8372C330.351 44.8798 327.638 44.4012 323.362 44.4012C319.661 44.4012 317.139 44.9117 315.799 45.9329C314.523 46.8903 313.725 49.1241 313.406 52.6344Z"
            fill="white"
          />
          <path
            d="M388.263 90.737C382.072 90.737 377.094 90.3221 373.329 89.4924C369.627 88.6627 366.595 87.0991 364.234 84.8014C361.872 82.4399 360.277 79.4083 359.447 75.7066C358.617 72.0048 358.202 67.0585 358.202 60.8676C358.202 54.6767 358.617 49.7304 359.447 46.0287C360.277 42.3269 361.872 39.3272 364.234 37.0295C366.595 34.6681 369.627 33.0725 373.329 32.2428C377.094 31.4131 382.072 30.9982 388.263 30.9982C399.56 30.9982 407.155 32.6895 411.048 36.0722C414.941 39.4548 417.016 46.1882 417.271 56.2723H398.124C397.933 51.3579 397.294 48.3263 396.209 47.1775C395.188 45.9648 392.539 45.3585 388.263 45.3585C383.349 45.3585 380.285 46.1882 379.073 47.8476C377.924 49.507 377.349 53.847 377.349 60.8676C377.349 67.8882 377.924 72.2282 379.073 73.8876C380.285 75.547 383.349 76.3767 388.263 76.3767C392.476 76.3767 395.092 75.7704 396.114 74.5578C397.199 73.3451 397.869 70.2497 398.124 65.2714H417.271C417.016 75.4832 414.941 82.2804 411.048 85.663C407.219 89.0457 399.624 90.737 388.263 90.737Z"
            fill="white"
          />
        </svg>

      </a>
      <div class="flex items-center gap-2">
        <a
          href="https://github.com/codecrafters-io/binspec"
          target="_blank"
          rel="noopener noreferrer"
          class="text-zinc-200 hover:text-white"
        >
          <svg
            viewBox="0 0 1024 1024"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"
              transform="scale(64)"
            />
          </svg>
        </a>

      </div>
    </div>
  </div>
</div>