<div class="flex flex-wrap p-2">
  {{#each this.bytes as |byte index|}}
    <HexPreview::BytePreview
      @index={{index}}
      @rawValue={{byte}}
      @highlightedSegment={{@highlightedSegment}}
      @hoveredSegment={{@hoveredSegment}}
    />
  {{/each}}
</div>