{{! template-lint-disable require-presentational-children }}
<div class="flex items-stretch w-full" role="button" ...attributes>
  {{#each (range 0 @indentationLevel)}}
    &nbsp;&nbsp;
  {{/each}}

  <div
    class="flex items-center truncate pr-3 py-2 rounded
      {{this.backgroundColorClasses}}
      flex-grow"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-4 mx-1 {{this.arrowColorClasses}}"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m16.49 12 3.75 3.75m0 0-3.75 3.75m3.75-3.75H3.74V4.499"
      />
    </svg>

    <span class={{this.textColorClasses}}>{{@segment.titleForDisplay}}</span>
  </div>
</div>