<EmberPopover
  @isShown={{true}}
  @side="bottom"
  @event="none"
  @tooltipClass="bg-zinc-800 border-zinc-600/80 text-white px-4 py-3 max-w-[300px]"
  @effect="none"
>
  <div class="font-medium text-white">
    {{@segment.titleForDisplay}}
  </div>
</EmberPopover>